---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'tale';


.post-line {
  display: none !important;
}

.post {
  padding-top: 0 !important;
}


.catalogue-item {
  padding: 0.3rem 0 !important;

}

.catalogue-title {
  font-size: 1rem !important;
}
